body {
  background-color: yellow;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Nanum Brush Script', cursive;
}

p {
  font-family: 'Nanum Gothic Coding', monospace;
}

ul {
  display: flex;
  width: 75%;
  justify-content: space-around;
}

li {
  font-family: 'Nanum Gothic Coding', monospace;
  margin: 5px;
}
